@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(211, 211, 211);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(77, 78, 78);
  border-radius: 80px;
}

header {
  width: 100%;
  height: 40vh;
  background: linear-gradient(rgba(236, 234, 234, 0.75), rgba(5, 7, 12, 0.75)), url(../assets/img/empresa/tonel3.jpg);
  background-position-y: 70%;
  display: flex;
  flex-direction: column;
  line-height: normal;
}
header .tituLogo {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: normal;
}
header .tituLogo .logo {
  width: auto;
  height: 18vh;
  display: block;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  transition: box-shadow 0.3s ease;
  line-height: normal;
}
header .tituLogo .logo:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
header .tituLogo h1 {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  height: 4vh;
  font-weight: bolder;
  margin: 0;
  line-height: normal;
}
header .tituLogo h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding-top: 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  line-height: normal;
}
header #menu,
header #menu-check {
  display: none;
}
header nav {
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: flex-end;
}
header nav ul {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header nav ul li {
  font-size: 1.1rem;
  width: 20vw;
  height: 3.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: box-shadow 0.3s ease;
  line-height: normal;
}
header nav ul li:focus {
  color: rgb(134, 130, 243);
}
header nav ul li .shadow-link {
  height: 3vh;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-family: monospace;
  color: rgb(255, 255, 255);
  position: relative;
  transition: box-shadow 0.3s ease;
  transition: color 0.3s;
}
header nav ul li .shadow-link:hover {
  color: rgb(134, 130, 243);
}
header nav ul li .shadow-link:nth-child(1).activo {
  transform: scale(1.05, 1.1);
  font-weight: bold;
  color: rgb(134, 130, 243);
}
header nav ul li .on {
  color: rgb(134, 130, 243);
}
header nav ul .productos-dropdown {
  z-index: 2;
}
header nav ul .productos-dropdown .submenu {
  display: none;
  height: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 10px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 22px;
  z-index: 1;
  overflow: hidden;
  animation-name: despliegue;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes despliegue {
  from {
    height: 0;
  }
  to {
    height: 120px;
  }
}
header nav ul .productos-dropdown .submenu li {
  margin-bottom: 15px;
  height: 1.5rem;
  line-height: 1.5rem;
}
header nav ul .productos-dropdown .submenu li a {
  color: white;
  font-family: monospace;
  text-decoration: none;
  transition: color 0.3s;
  height: 100%;
  width: auto;
  font-size: 1rem;
}
header nav ul .productos-dropdown .submenu li a:hover {
  color: rgb(134, 130, 243);
}
header nav ul .productos-dropdown .submenu li a:nth-child(1).activ {
  color: rgb(134, 130, 243);
}
header nav ul .productos-dropdown:hover .submenu {
  display: block;
  height: auto;
}

main {
  width: 100%;
  background-color: rgb(211, 211, 211);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.mainIdex {
  min-height: 290vh;
  max-height: 900vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mainAcercaDe {
  width: 100%;
  min-height: 135vh;
  max-height: 800vh;
}

.mainProductos, .cAlcohol, .sAlcohol, .oProductos {
  width: 100%;
  max-height: auto;
  min-height: auto;
  display: flex;
  gap: 4rem;
}

.mainUbicacion {
  width: 100%;
  min-height: 65vh;
  max-height: auto;
}

.contenedorUbicacion {
  display: grid;
  grid-template-areas: "encabezado" "seccion" "pie";
  grid-template-columns: 1fr;
  grid-template-rows: 7.4fr 13fr 1.4fr;
}

.header {
  grid-area: encabezado;
}

.main {
  grid-area: seccion;
}

.footer {
  grid-area: pie;
}

.contenedorContacto {
  display: grid;
  grid-template-areas: "encabezado" "seccion" "pie";
  grid-template-columns: 1fr;
  grid-template-rows: 7.4fr 13fr 1.4fr;
}

.header {
  grid-area: encabezado;
}

.main {
  grid-area: seccion;
}

.footer {
  grid-area: pie;
}

.conteiner_card {
  width: 100%;
  min-height: 110vh;
  max-height: 500vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.conteiner_card h2 {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Maven Pro", sans-serif;
}
.conteiner_card .card {
  width: 350px;
  height: 250px;
  background-color: rgb(146, 92, 92);
  border-radius: 16px 16px 16px 16px;
  box-shadow: 7px 7px 7px 0px rgb(27, 27, 27);
  transition: all 400ms ease;
}
.conteiner_card .card:hover {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
  transform: scale(1.04, 1.04);
}
.conteiner_card .card a img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.conteiner_card .card p {
  height: 3.5vh;
  font-size: 1.2rem;
  font-weight: bolder;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nuevos_productos {
  width: 100%;
  min-height: 60vh;
  max-height: 500vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.nuevos_productos h2 {
  width: 100%;
  height: 5vh;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Maven Pro", sans-serif;
}
.nuevos_productos .nuevo_card {
  width: 350px;
  height: 250px;
  background-color: rgb(146, 92, 92);
  border-radius: 16px 16px 16px 16px;
  box-shadow: 5px 5px 5px 0px rgb(27, 27, 27);
  transition: all 400ms ease;
}
.nuevos_productos .nuevo_card:hover {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
  transform: scale(1.04, 1.04);
}
.nuevos_productos .nuevo_card a img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.nuevos_productos .nuevo_card p {
  height: 3.5vh;
  font-size: 1.2rem;
  font-weight: bolder;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.containerBtn {
  width: 95%;
  margin-top: 1rem;
  display: flex;
}
.containerBtn .middle {
  transform: translate(-1%, -1%);
  text-align: center;
}
.containerBtn .middle a .btn {
  background-color: transparent;
  border: 1px solid black;
  font-family: "Marven Pro", sans-serif;
  color: rgb(59, 59, 59);
  font-weight: bold;
  padding: 8px 20px;
  min-width: 200px;
  font-size: 1rem;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  transition: color 0.5s linear;
  position: relative;
}
.containerBtn .middle a .btn:hover {
  color: #fff;
}
.containerBtn .middle a .btn:hover::before {
  width: 100%;
}
.containerBtn .middle a .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgb(179, 179, 180);
  border-radius: 0px 19px 19px 0px;
  z-index: -1;
  transition: width 0.7s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.4, 0.7);
}

.titleNuestros {
  margin-top: 2rem;
}

.titleContainer {
  width: 95%;
  height: 30vh;
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: rgb(146, 92, 92);
}
.titleContainer h2 {
  width: -moz-fit-content;
  width: fit-content;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Maven Pro", sans-serif;
  animation-name: pulse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1); /* Volver al tamaño original del elemento */
  }
}
.titleContainer #inputBusqueda {
  padding: 12px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 18px;
  width: 500px;
  height: 38px;
  outline: none;
  transition: border-color 0.3s;
}
.titleContainer #inputBusqueda:focus {
  border-color: rgb(134, 130, 243);
}
.titleContainer section {
  width: 25vw;
  height: 34vh;
  background-color: rgb(146, 92, 92);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  transition: all 400ms ease;
}
.titleContainer section:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.04, 1.07);
}
.titleContainer section a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: "Maven Pro", sans-serif;
  text-decoration: none;
}
.titleContainer section a img {
  width: 100%;
  height: 30vh;
  border-radius: 12px 12px 0px 0px;
}
.titleContainer section a h3 {
  font-size: 1.3rem;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuestrosProductos, .conAlcohol, .otrosProductos, .sinAlcohol {
  width: 100%;
  max-height: auto;
  min-height: 50vh;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
}
.nuestrosProductos article, .conAlcohol article, .otrosProductos article, .sinAlcohol article {
  width: 380px;
  height: 350px;
  background-color: rgb(146, 92, 92);
  border-radius: 12px 12px 12px 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  transition: all 400ms ease;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.nuestrosProductos article:hover, .conAlcohol article:hover, .otrosProductos article:hover, .sinAlcohol article:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
}
.nuestrosProductos article a img, .conAlcohol article a img, .otrosProductos article a img, .sinAlcohol article a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.nuestrosProductos article .product img, .conAlcohol article .product img, .otrosProductos article .product img, .sinAlcohol article .product img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.nuestrosProductos article p, .conAlcohol article p, .otrosProductos article p, .sinAlcohol article p {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nuestrosProductos article h4, .conAlcohol article h4, .otrosProductos article h4, .sinAlcohol article h4 {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(43, 42, 42);
}

footer {
  background-color: black;
  height: 7vh;
  width: 100%;
  display: flex;
}
footer .parrafoFooter {
  color: rgb(199, 199, 199);
  width: 95%;
  height: 7vh;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 15px;
}
footer .parrafoFooter p {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 0rem;
}

.historiaImg {
  width: 29vw;
  position: relative;
  display: inline-block;
}
.historiaImg img {
  max-width: 100%;
  height: auto;
  -webkit-clip-path: ellipse(47% 42% at center);
          clip-path: ellipse(47% 42% at center);
  display: block;
  transition: filter 0.5s ease;
}
.historiaImg .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
  color: white;
  text-align: center;
}
.historiaImg .overlay a {
  color: white;
  text-decoration: none;
}
.historiaImg .overlay a:hover {
  color: rgb(176, 107, 255);
}
.historiaImg:hover .imagen {
  filter: brightness(70%);
}
.historiaImg:hover .overlay {
  opacity: 1;
}

.nuestroContacto {
  width: 20%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nuestroContacto a img {
  width: 150px;
}

.video {
  width: 30vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video iframe {
  width: 28vw;
  height: 37vh;
}

.videoContainer {
  width: 95%;
  height: 70vh;
  background-color: rgb(32, 36, 34);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}
.videoContainer .contactInfo {
  height: 70%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 1rem;
  border-radius: 5px 5px 5px 5px;
}
.videoContainer .contactInfo p {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Maven Pro;
  color: rgb(255, 255, 255);
}
.videoContainer .contactInfo a {
  width: 180px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoContainer .contactInfo a img {
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 25px 25px;
  transition: transform 0.3s ease;
}
.videoContainer .contactInfo a img:hover {
  transform: scale(1.05);
}
.videoContainer .contactInfo button {
  width: 180px;
  height: 48px;
  border: solid 0px;
  border-radius: 25px 25px 25px 25px;
  background-color: rgb(72, 163, 224);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.videoContainer .contactInfo button:hover {
  transform: scale(1.05);
}
.videoContainer .contactInfo .tooltip {
  position: relative;
}
.videoContainer .contactInfo .tooltip .llamada {
  color: white;
  background-color: gray;
}
.videoContainer .contactInfo .tooltip .tooltip-text {
  display: none;
  position: absolute;
  height: 2.5rem;
  font-family: Maven Pro;
  width: 200px;
  text-align: center;
  top: calc(100% + 20px);
  left: 20%;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
  color: white;
  padding-top: 10px;
  border-radius: 10px;
  white-space: nowrap;
}
.videoContainer .productsVideo {
  width: 55%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.contenedorInfoHistoria {
  width: 100%;
  min-height: 130vh;
  max-height: 600vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contenedorInfoHistoria .historia {
  width: 95%;
  height: 52vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(32, 36, 34);
  border-radius: 5px;
}
.contenedorInfoHistoria .historia .historiaText {
  height: 39vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contenedorInfoHistoria .historia .historiaText h2 {
  width: 94%;
  font-size: 1.6rem;
  margin-left: 2rem;
  font-weight: bold;
  font-family: "Maven Pro", sans-serif;
  color: white;
}
.contenedorInfoHistoria .historia .historiaText p {
  width: 94%;
  margin-left: 2rem;
  font-size: 1.4rem;
  line-height: 2;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-style: oblique;
  color: white;
}

.infoDistribucion {
  min-height: 52vh;
  max-height: 600vh;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(32, 36, 34);
  border-radius: 5px;
}
.infoDistribucion .infoText {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.infoDistribucion .infoText .textos {
  height: 50%;
}
.infoDistribucion .infoText .textos h2 {
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 0.5rem;
  color: white;
}
.infoDistribucion .infoText .textos p {
  font-size: 1.3rem;
  width: 94%;
  line-height: 2;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin-left: 0.7rem;
  color: rgb(255, 255, 255);
}

.mapa {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.mapa #map-content {
  min-height: 63vh;
  width: 500px;
  display: flex;
  text-align: center;
  align-items: center;
}
.mapa #map-content h3 {
  font-size: 1.5rem;
  font-family: "Maven Pro", sans-serif;
  padding-top: 0.9rem;
}
.mapa #map-content iframe {
  width: 100%;
  height: 45vh;
  padding-top: 0.9rem;
}
.mapa #map-content .direction {
  text-decoration: none;
  padding-top: 0.9rem;
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mapa #map-content .direction p {
  text-align: center;
  color: rgb(53, 40, 174);
  width: 80%;
}
.mapa #map-content .direction p:hover {
  background-color: rgb(144, 141, 141);
  border-radius: 10px 10px 10px 10px;
  color: white;
}
.mapa #map-content .direction p:active {
  background-color: rgb(70, 69, 69);
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 48%;
  max-height: 90%;
}

.carousel-inner {
  width: 100%;
}

.cImg {
  border-radius: 10px 10px 10px 10px;
}

@media screen and (min-width: 1663px) {
  header nav ul li {
    font-size: 1.2rem;
  }
  header nav ul li .shadow-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  header nav ul .productos-dropdown .submenu {
    top: 30px;
  }
  .mainIdex {
    min-height: 220vh;
  }
  .conteiner_card {
    min-height: 80vh;
  }
  .conteiner_card .card {
    width: 400px;
    height: 280px;
  }
  .conteiner_card .card a img {
    height: 230px;
  }
  .conteiner_card .card p {
    font-size: 1.1rem;
  }
  .nuevos_productos {
    min-height: 50vh;
  }
  .nuevos_productos .nuevo_card {
    width: 400px;
    height: 280px;
  }
  .nuevos_productos .nuevo_card a img {
    height: 230px;
  }
  .nuevos_productos .nuevo_card p {
    font-size: 1.1rem;
  }
  .infoDistribucion .infoText {
    gap: 3rem;
  }
  .mapa #map-content {
    width: 800px;
  }
  .mapa #map-content iframe {
    height: 50vh;
  }
  .mapa #map-content .direction {
    font-size: 1.4rem;
  }
  .mapa #map-content .direction p {
    width: 60%;
  }
}
@media screen and (max-width: 1662px) {
  .conteiner_card .card p {
    font-size: 1rem;
  }
  .nuevos_productos .nuevo_card p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1596px) {
  .mainIdex {
    min-height: 290vh;
  }
  .conteiner_card {
    min-height: 110vh;
  }
  .conteiner_card .card {
    width: 350px;
    height: 250px;
  }
  .conteiner_card .card a img {
    height: 200px;
  }
  .nuevos_productos {
    min-height: 60vh;
  }
  .nuevos_productos .nuevo_card {
    width: 350px;
    height: 250px;
  }
  .nuevos_productos .nuevo_card a img {
    height: 200px;
  }
  .productos section {
    width: 31vw;
  }
  .contenedorInfoHistoria .historia .historiaText h2 {
    font-size: 1.2rem;
  }
  .contenedorInfoHistoria .historia .historiaText p {
    font-size: 1.1rem;
  }
  .contenedorInfoHistoria .infoDistribucion .infoText p {
    font-size: 1rem;
  }
  .contenedorInfoHistoria .infoDistribucion .infoText h2 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1350px) {
  header h1 {
    font-size: 1.3rem;
  }
  .productos section a h3 {
    font-size: 0.9rem;
  }
  .mainProductos .conAlcohol article p {
    font-size: 0.9rem;
  }
  .mainProductos .sinAlcohol article p {
    font-size: 0.9rem;
  }
  .mainProductos .otrosProductos article p {
    font-size: 0.9rem;
  }
  .nuestroContacto a img {
    width: 100px;
  }
}
@media screen and (max-width: 1276px) {
  header nav ul li a:nth-child(1).activo {
    transform: scale(1, 1.1);
  }
  .contenedorInfoHistoria {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 1.5rem;
  }
  .contenedorInfoHistoria .historia {
    height: auto;
    flex-wrap: wrap;
    gap: 0;
  }
  .contenedorInfoHistoria .historia .historiaText {
    width: 100vw;
    height: 45vh;
    align-items: center;
  }
  .contenedorInfoHistoria .historia .historiaText h2 {
    font-size: 1.3rem;
    margin: 0;
  }
  .contenedorInfoHistoria .historia .historiaText p {
    font-size: 1.2rem;
    margin-left: 0;
  }
  .contenedorInfoHistoria .historia .historiaImg {
    height: 55vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedorInfoHistoria .historia .historiaImg img {
    width: auto;
    height: 100%;
  }
  .infoDistribucion {
    height: 120vh;
    flex-wrap: wrap;
  }
  .infoDistribucion .infoText {
    width: 100%;
    height: 45vh;
    align-items: center;
  }
  .infoDistribucion .infoText .textos h2 {
    padding-bottom: 1rem;
    margin: 0 1rem 0 1rem;
    width: 90vw;
    font-size: 1.3rem;
  }
  .infoDistribucion .infoText .textos p {
    margin: 0 1rem 0 1rem;
    width: 90vw;
    font-size: 1.2rem;
  }
  .infoDistribucion .carousel {
    width: 70%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .mapa iframe {
    width: 50vw;
  }
  .conteiner_card {
    padding-bottom: 1rem;
  }
  .nuevos_productos {
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 1152px) {
  header nav ul {
    gap: 2rem;
  }
  footer .redes a img {
    height: 4vh;
  }
  .contenedorInfoHistoria .historia .historiaText {
    margin-top: 1rem;
  }
  .productos {
    height: 50vh;
  }
  .productos section {
    width: 30vw;
    height: 29vh;
  }
  .productos section a img {
    height: 25vh;
  }
  .productos section a h3 {
    height: 4vh;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 958px) {
  header nav ul {
    min-width: 20vw;
    gap: 2rem;
  }
  header nav ul li {
    font-size: 1rem;
  }
  header nav ul .productos-dropdown .submenu li a {
    font-size: 0.7rem;
  }
  footer .redes {
    width: 20%;
  }
  footer .parrafoFooter {
    width: 80%;
  }
  .carousel-inner {
    width: 80vw;
  }
}
@media screen and (max-width: 814px) {
  header nav ul li a {
    font-size: 0.8rem;
  }
  header nav ul .productos-dropdown .submenu li a {
    font-size: 0.6rem;
  }
  .carousel-inner {
    width: 100vw;
  }
  .nuestroContacto a img {
    width: 80px;
  }
  .contenedorInfoHistoria .historia .historiaText h2 {
    font-size: 1.3rem;
  }
  .contenedorInfoHistoria .historia .historiaText p {
    font-size: 1rem;
  }
  .contenedorInfoHistoria .historia .historiaImg {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .contenedorInfoHistoria .historia .historiaImg img {
    height: 80%;
  }
  .infoDistribucion .infoText {
    align-items: center;
  }
  .infoDistribucion .infoText .textos p {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0 1rem 0 1rem;
    width: 95vw;
    font-size: 1rem;
  }
  .infoDistribucion .infoText .textos h2 {
    padding-left: 1rem;
    font-size: 1.3rem;
  }
  .infoDistribucion .carousel {
    width: 90%;
  }
  .infoDistribucion .video {
    height: 55vh;
    width: 60vw;
  }
  .infoDistribucion .video iframe {
    width: 59vw;
    height: 48vh;
  }
  .mapa iframe {
    width: 65vw;
  }
  .videoContainer {
    width: 95%;
    height: 75vh;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .videoContainer .contactInfo {
    height: 17vh;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .videoContainer .contactInfo p {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
  }
  .videoContainer .contactInfo a {
    width: 120px;
    height: 35px;
  }
  .videoContainer .contactInfo button {
    width: 120px;
    height: 35px;
    font-size: 0.7rem;
  }
  .videoContainer .contactInfo .tooltip {
    position: relative;
  }
  .videoContainer .contactInfo .tooltip .llamada {
    color: white;
    background-color: gray;
  }
  .videoContainer .contactInfo .tooltip .tooltip-text {
    top: calc(80% + 10px);
    left: 50%;
    font-size: 0.8rem;
  }
  .videoContainer .productsVideo {
    width: 80%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  .nuevos_productos {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 674px) {
  header {
    height: 35vh;
  }
  header #menu-check:checked ~ label #menu-abrir {
    display: none;
  }
  header #menu-check:checked ~ label #menu-cerrar {
    display: block;
  }
  header #menu-check:not(:checked) ~ nav {
    display: none;
  }
  header #menu-check:checked ~ nav {
    display: block;
    width: 14.5rem;
    height: 23rem;
    border-radius: 8px;
    top: 0.5em;
    right: 0.3em;
  }
  header #menu {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    right: 0.5em;
    top: 0.2em;
    z-index: 9999;
  }
  header #menu span {
    font-family: "Maven Pro", sans-serif;
  }
  header #menu #menu-cerrar {
    display: none;
  }
  header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgb(26, 26, 26);
    padding-top: 1rem;
    padding-left: 2rem;
    opacity: 1;
    color: white;
    z-index: 999;
  }
  header nav ul {
    display: block;
    text-align: right;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
  }
  header nav ul li {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    text-align: right;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: solid white 1px;
    transition: border-top-color 0.01s ease;
    padding-top: 1px;
  }
  header nav ul li a {
    font-size: 0.9rem;
    text-align: left;
  }
  header nav ul li a:nth-child(1).activo {
    color: rgb(154, 151, 245);
    transform: none;
  }
  header nav ul li:active {
    border-top-color: rgb(134, 130, 243);
  }
  header nav ul .productos-dropdown {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  header nav ul .productos-dropdown .shadow-link {
    height: 17%;
  }
  header nav ul .productos-dropdown .submenu {
    z-index: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    align-items: flex-start;
    height: 83%;
    top: 0.01px;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    padding-top: 0px;
    margin-top: 0;
    animation-name: none;
    overflow: visible;
  }
  header nav ul .productos-dropdown .submenu li {
    margin-bottom: 0px;
    width: -moz-fit-content;
    width: fit-content;
    line-height: 10px;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    border-top: transparent;
    padding-left: 5px;
  }
  header nav ul .productos-dropdown .submenu li a {
    font-size: 0.8rem;
  }
  header nav ul .productos-dropdown:hover .submenu {
    display: flex;
    position: static;
    min-height: 83%;
  }
  .contenedorInfoHistoria .historia {
    min-height: 60vh;
  }
  .contenedorInfoHistoria .historia .historiaText {
    padding-top: 2rem;
  }
  .contenedorInfoHistoria .historia .historiaText h2 {
    text-align: center;
    margin: 0;
  }
  .contenedorInfoHistoria .infoDistribucion {
    min-height: 60vh;
    gap: 0.5rem;
  }
  .contenedorInfoHistoria .infoDistribucion .infoText {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .contenedorInfoHistoria .infoDistribucion .infoText h2 {
    text-align: center;
    margin: 0;
  }
  .contenedorInfoHistoria .infoDistribucion .infoText p {
    margin: 0;
  }
  .contenedorUbicacion {
    grid-template-rows: 6.6fr 13fr 1.34fr;
  }
  .contenedorContacto {
    grid-template-rows: 6.6fr 13fr 1.34fr;
  }
}
@media screen and (max-width: 596px) {
  footer .redes a img {
    height: 3vh;
  }
  .conteiner_card .card p {
    font-size: 0.8rem;
  }
  .nuevos_productos .nuevo_card p {
    font-size: 0.8rem;
  }
  footer {
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }
  footer .parrafoFooter {
    justify-content: center;
    font-size: 0.8rem;
  }
  .titleContainer #inputBusqueda {
    width: 90%;
  }
  .productos {
    height: 110vh;
  }
  .productos section {
    width: 70vw;
  }
  .mapa #map-content {
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .mapa #map-content .mapa h3 {
    font-size: 1.1rem;
  }
  .mapa #map-content .mapa .direction {
    font-size: 0.9rem;
  }
  .contenedorInfoHistoria .historia .historiaText {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 518px) {
  footer .redes {
    width: 30%;
  }
  .contenedorInfoHistoria .historia .historiaText {
    height: auto;
  }
  .contenedorInfoHistoria .historia .historiaText h2 {
    margin-top: 0.5rem;
  }
  .contenedorInfoHistoria .historia .historiaText p {
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-left: 0;
  }
  .contenedorInfoHistoria .infoDistribucion {
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .contenedorInfoHistoria .infoDistribucion .infoText {
    height: auto;
    margin: 0;
    gap: 2rem;
  }
  .contenedorInfoHistoria .infoDistribucion .infoText .textos {
    padding-top: 0;
  }
  .mainProductos .conAlcohol {
    height: 130vh;
  }
  .mainProductos .conAlcohol article {
    width: 45vw;
    height: 19vh;
  }
  .mainProductos .conAlcohol article a img {
    height: 13vh;
  }
  .mainProductos .conAlcohol article p {
    font-size: 0.8rem;
  }
  .mainProductos .sinAlcohol {
    height: 130vh;
  }
  .mainProductos .sinAlcohol article {
    width: 45vw;
    height: 19vh;
  }
  .mainProductos .sinAlcohol article a img {
    height: 13vh;
  }
  .mainProductos .sinAlcohol article p {
    font-size: 0.8rem;
  }
  .mainProductos .otrosProductos {
    height: 110vh;
  }
  .mainProductos .otrosProductos article {
    width: 45vw;
    height: 19vh;
  }
  .mainProductos .otrosProductos article a img {
    height: 13vh;
  }
  .mainProductos .otrosProductos article p {
    font-size: 0.8rem;
  }
  .nuestroContacto {
    width: 90px;
  }
  .nuestroContacto a img {
    width: 40px;
  }
  .videoContainer {
    min-height: 80vh;
  }
  .videoContainer .contactInfo {
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .videoContainer .contactInfo p {
    font-size: 1.3rem;
  }
  .videoContainer .contactInfo a {
    width: 140px;
    height: 43px;
  }
  .videoContainer .contactInfo button {
    width: 140px;
    height: 43px;
    font-size: 0.8rem;
  }
  .videoContainer .productsVideo {
    width: 95%;
  }
  .titleContainer h2 {
    font-size: 1.2rem;
  }
  .nuestrosProductos article, .conAlcohol article, .otrosProductos article, .sinAlcohol article {
    width: 300px;
    height: 270px;
  }
  .nuestrosProductos article .product img, .conAlcohol article .product img, .otrosProductos article .product img, .sinAlcohol article .product img {
    width: 100%;
    height: 170px;
  }
}
@media screen and (max-width: 402px) {
  footer .parrafoFooter {
    font-size: 0.6rem;
  }
  .conteiner_card .card {
    width: 85vw;
  }
  .nuevos_productos .nuevo_card {
    width: 85vw;
  }
  .contenedorInfoHistoria .historia .historiaText p {
    margin: 0;
    padding-left: 0;
  }
  .contenedorInfoHistoria .historia .historiaImg {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .contenedorInfoHistoria .historia .historiaImg img {
    height: 80%;
  }
  .contenedorInfoHistoria .infoDistribucion .infoText p {
    margin: 0;
  }
  .contenedorInfoHistoria .infoDistribucion .infoText h2 {
    margin: 0;
  }
  .mapa iframe {
    width: 85vw;
  }
  .nuestroContacto {
    justify-content: flex-end;
  }
  .whatsapp {
    justify-content: flex-start;
  }
}
#spinner-container {
  margin-top: 4rem;
}

@keyframes ldio-e5o5gpsl1xv {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-e5o5gpsl1xv div {
  left: 90px;
  top: 17px;
  position: absolute;
  animation: ldio-e5o5gpsl1xv linear 1s infinite;
  background: #1d0e0b;
  width: 20px;
  height: 38px;
  border-radius: 10px/10.64px;
  transform-origin: 10px 83px;
}

.ldio-e5o5gpsl1xv div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9090909091s;
  background: #1d0e0b;
}

.ldio-e5o5gpsl1xv div:nth-child(2) {
  transform: rotate(32.7272727273deg);
  animation-delay: -0.8181818182s;
  background: #1d0e0b;
}

.ldio-e5o5gpsl1xv div:nth-child(3) {
  transform: rotate(65.4545454545deg);
  animation-delay: -0.7272727273s;
  background: #1d0e0b;
}

.ldio-e5o5gpsl1xv div:nth-child(4) {
  transform: rotate(98.1818181818deg);
  animation-delay: -0.6363636364s;
  background: #1d0e0b;
}

.ldio-e5o5gpsl1xv div:nth-child(5) {
  transform: rotate(130.9090909091deg);
  animation-delay: -0.5454545455s;
  background: #1d0e0b;
}

.ldio-e5o5gpsl1xv div:nth-child(6) {
  transform: rotate(163.6363636364deg);
  animation-delay: -0.4545454545s;
  background: #1d0e0b;
}

.ldio-e5o5gpsl1xv div:nth-child(7) {
  transform: rotate(196.3636363636deg);
  animation-delay: -0.3636363636s;
  background: #1d0e0b;
}

.ldio-e5o5gpsl1xv div:nth-child(8) {
  transform: rotate(229.0909090909deg);
  animation-delay: -0.2727272727s;
  background: #1d0e0b;
}

.ldio-e5o5gpsl1xv div:nth-child(9) {
  transform: rotate(261.8181818182deg);
  animation-delay: -0.1818181818s;
  background: #1d0e0b;
}

.ldio-e5o5gpsl1xv div:nth-child(10) {
  transform: rotate(294.5454545455deg);
  animation-delay: -0.0909090909s;
  background: #1d0e0b;
}

.ldio-e5o5gpsl1xv div:nth-child(11) {
  transform: rotate(327.2727272727deg);
  animation-delay: 0s;
  background: #1d0e0b;
}

.loadingio-spinner-spinner-1y57uo9vmii {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.ldio-e5o5gpsl1xv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-e5o5gpsl1xv div {
  box-sizing: content-box;
}/*# sourceMappingURL=style.css.map */