// colores
$footer: black;
$cartas: rgb(146, 92, 92);
$main: rgb(211, 211, 211);
$back: rgb(32, 36, 34);

// tarjetas secundarias de "nuestros productos"
$cards: (
    ancho: 380px,
    alto: 350px,
    bordes: 12px 12px 12px 12px,
    sombra: 4px 4px 10px rgba(0,0,0,0.4),
    transición: all 400ms ease,
);
