main {
    width: 100%;
    background-color: $main;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mainIdex {
    min-height: 290vh;
    max-height: 900vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mainAcercaDe {
    width: 100%;
    min-height: 135vh;
    max-height: 800vh;
}

.mainProductos, .cAlcohol, .sAlcohol, .oProductos {
    width: 100%;
    max-height: auto;
    min-height: auto;
    display: flex;
    gap: 4rem;
}

.mainUbicacion {
    width: 100%;
    min-height: 65vh;
    max-height: auto;
}