@media screen and (max-width:1662px) {
    .conteiner_card {

        .card {
            // width: 26vw;

            p {
                font-size: 1rem;
            }
        }
    }
}

.nuevos_productos {

    .nuevo_card {
        // width: 25vw;

        p {
            font-size: 1.1rem;
        }
    }
}


@media screen and (max-width:1596px) {
    .productos section {
        width: 31vw;
    }

    .contenedorInfoHistoria {

        .historia .historiaText {

            h2 {
                font-size: 1.2rem;
            }

            p {
                font-size: 1.1rem;
            }
        }

        .infoDistribucion .infoText {

            p {
                font-size: 1rem;
            }

            h2 {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width:1350px) {
    header{
        h1 {
            font-size: 1.3rem;
        }
        
    }
    .productos section {
        a {
            h3 {
                font-size: .9rem;
            }
        }
    }

    .mainProductos {
        .conAlcohol {
            article p {
                font-size: .9rem;
            }
        }

        .sinAlcohol {
            article p {
                font-size: .9rem;
            }
        }

        .otrosProductos {
            article p {
                font-size: .9rem;
            }
        }
    }

    .nuestroContacto {
        a {
            img {
                width: 100px;
            }
        }
    }
}

@media screen and (max-width:1276px) {
    header{
        nav{
            ul{
                li {
                    a {
                        &:nth-child(1).activo{
                            transform: scale(1.0, 1.1);
                        }
                    }
                }
            }
        }
    }

    // .mainIdex {
    //     height: 260vh;
    // }

    // .conteiner_card {
    //     height: 140vh;

    //     .card {
    //         width: 35vw;
    //     }
    // }

    // .nuevos_productos {
    //     height: 100vh;

    //     .nuevo_card {
    //         width: 35vw;
    //     }
    // }

    // .mainAcercaDe {
    //     height: 300vh;
    // }

    .contenedorInfoHistoria {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        gap: 1.5rem;

        .historia {
            height: auto;
            flex-wrap: wrap;
            gap: 0;

            .historiaText {
                width: 100vw;
                height: 45vh;
                align-items: center;

                
                h2 {
                    font-size: 1.3rem;
                    margin: 0;
                }

                p{
                    font-size: 1.2rem;
                    margin-left: 0;
                }
            }

            .historiaImg {
                height: 55vh;
                width: 100vw;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
    }

    .infoDistribucion {
        height: 120vh;
        flex-wrap: wrap;

        .infoText {
            width: 100vw;
            height: 45vh;
            align-items: center;

            .textos {
                
                h2 {
                    padding-bottom: 1rem;
                    margin: 0 1rem 0 1rem;
                    width: 90vw;
                    font-size: 1.3rem;
                }

                p {
                    margin: 0 1rem 0 1rem;
                    width: 90vw;
                    font-size: 1.2rem;
                }
            }
        }
        .carousel{
            width: 70%;
            height: fit-content;
        }
        
    }

    .mapa iframe {
        width: 50vw;
    }

    .conteiner_card {
        padding-bottom: 1rem;
    }

    .nuevos_productos {
        padding-bottom: 1rem;
    }
}

@media screen and (max-width:1152px) {
    header{
        nav{
            ul{
                gap:2rem
            }
        }
    }
    footer {
        .redes {   
            a {
                img {
                    height: 4vh;
                }
                }
            }
        }

    // .mainProductos {
    //     height: 320vh;
    // }
    .contenedorInfoHistoria{
        .historia{
            .historiaText{
                margin-top: 1rem;
            }
        }
    }
    
    .productos {
        height: 50vh;

        section {
            width: 30vw;
            height: 29vh;

            a {
                img {
                    height: 25vh;
                }

                h3 {
                    height: 4vh;
                    font-size: .9rem;
                }
            }
        }
    }

    // .conAlcohol {
    //     article {
    //         height: 25vh;

    //         a {
    //             img {
    //                 height: 18vh;
    //             }

    //             p {
    //                 font-size: .9rem;
    //             }
    //         }
    //     }
    // }

//     .sinAlcohol {
//         article {
//             height: 25vh;

//             a {
//                 img {
//                     height: 18vh;
//                 }

//                 p {
//                     font-size: .9rem;
//                 }
//             }
//         }
//     }

//     .otrosProductos {
//         article {
//             height: 25vh;

//             a {
//                 img {
//                     height: 18vh;
//                 }

//                 p {
//                     font-size: .9rem;
//                 }
//             }
//         }
//     }
}

@media screen and (max-width:958px) {
    header{
        nav{
            ul{
                min-width: 20vw;
                gap: 2rem;

                li{
                        font-size: 1rem;
                }
                
                .productos-dropdown{
                    .submenu {
                        li{
                            a{
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
            }
        }
    }
    // .mainIdex {
    //     height: 420vh;
    // }

    // .conteiner_card {
    //     height: 250vh;

    //     .card {
    //         width: 51vw;
    //     }
    // }

    // .nuevos_productos {
    //     height: 140vh;

    //     .nuevo_card {
    //         width: 51vw;
    //     }
    // }

    footer {
        .redes {
            width: 20%;
        }

        .parrafoFooter {
            width: 80%;
        }
    }

    .carousel-inner {
        width: 80vw;
    }

    // .mainProductos {
    //     height: 420vh;
    // }

    // .conAlcohol {
    //     height: 100vh;

    //     article {
    //         width: 22vw;
    //     }
    // }

    // .sinAlcohol {
    //     height: 100vh;

    //     article {
    //         width: 22vw;
    //     }
    // }

    // .otrosProductos {
    //     height: 100vh;

    //     article {
    //         width: 22vw;
    //     }
    // }


}


@media screen and (max-width:814px) {
    header{
        nav{
            ul{
                
                li{
                    
                    
                    a{
                        font-size: 0.8rem;
                    }
                }
                .productos-dropdown{
                    .submenu {
                        li{
                            a{
                                font-size: 0.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .carousel-inner {
        width: 100vw;
    }

    .nuestroContacto {
        a {
            img {
                width: 80px;
            }
        }
    }


    // .mainAcercaDe {
    //     height: 280vh;
    // }

    .contenedorInfoHistoria {
        // height: 205vh;

        .historia {
            // height: 100vh;

            .historiaText {
                // height: 45vh;

                h2 {
                    padding-left: 1rem;
                    font-size: 1.3rem;
                }

                p {
                    padding-left: 1rem;
                    font-size: 1rem;
                }
            }
        }
    }

    .infoDistribucion {
        .infoText {
            align-items: center;

            .textos {
                p {
                    margin-left: 1rem;
                    margin-right: 1rem;
                    padding: 0 1rem 0 1rem;
                    width: 95vw;
                    font-size: 1rem;
                }

                h2{
                    padding-left: 1rem;
                    font-size: 1.3rem;
                }
            }
        }

        .carousel{
            width: 90%;
        }

        .video {
            height: 55vh;
            width: 60vw;

            iframe {
                width: 59vw;
                height: 48vh;
            }
        }
    }

    // .conAlcohol {
    //     article {
    //         p {
    //             font-size: .7rem;
    //         }
    //     }
    // }

    // .sinAlcohol {
    //     article {
    //         p {
    //             font-size: .7rem;
    //         }
    //     }
    // }

    // .otrosProductos {
    //     article {
    //         p {
    //             font-size: .7rem;
    //         }
    //     }
    // }

    .mapa {
        iframe {
            width: 65vw;
        }
    }


    .videoContainer {
        width: 95%; 
        height: 75vh;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
        .contactInfo{
            height: 17vh;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            
    
            p{
                width: 100%;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: flex-end;
            }
    
            a{
                width: 120px;
                height: 35px;
                
            }
            button{
                width: 120px;
                height: 35px;
                font-size: 0.7rem;
            }
            
            .tooltip {
                position: relative;
    
                .llamada {
                    color: white;
                    background-color: gray;
                    
                }
                
                .tooltip-text {
                    top: calc(80% + 10px); 
                    left: 50%;
                    font-size: 0.8rem;
                }
            }
        }
        
        .productsVideo{
            width: 80%; 
            height: auto; 
            display: block;
            border-radius: 5px;
            
    
            
        }
    }

    .nuevos_productos{
        margin-top: 4rem;
    }

}

@media screen and (max-width:674px) {
    header {
        height: 35vh;

        #menu-check:checked~label #menu-abrir {
            display: none;
        }

        #menu-check:checked~label #menu-cerrar {
            display: block;
        }

        #menu-check:not(:checked)~nav {
            display: none;
        }

        #menu-check:checked~nav {
            display: block;
            width: 14.5rem;
            height: 23rem;
            border-radius: 8px;
            top: .5em;
            right: .3em;
        }

        #menu {
            display: block;
            color: rgb(255, 255, 255);
            font-size: 2.5rem;
            font-weight: bold;
            position: absolute;
            right: 0.5em;
            top: 0.2em;
            z-index: 9999;

            span {
                font-family: 'Maven Pro', sans-serif;
            }

            #menu-cerrar {
                display: none;
            }
        }

        nav {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background-color: rgb(26, 26, 26);
            padding-top: 1rem;
            padding-left: 2rem;
            opacity: 1;
            color: white;
            z-index: 999;

            ul {
                display: block;
                text-align: right;
                font-size: 1.1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                gap: 0.5rem;
                height: 100%;
                width: 100%;
                padding-top: 1rem;
                

                li {
                    height: fit-content;
                    width: 100%;
                    text-align: right;
                    font-size: 1rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    border-top: solid white 1px;
                    transition: border-top-color 0.01s ease;
                    padding-top: 1px;

                    a{
                        font-size: 0.9rem;
                        text-align: left;
                        &:nth-child(1).activo{
                            color: rgb(154, 151, 245);
                            transform: none;
                        }
                    }
                    &:active{
                
                        border-top-color: rgb(134, 130, 243);;
                    }
                }
                
                .productos-dropdown {
                    height: 30%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    .shadow-link{
                        height: 17%;
                    }
                    .submenu {
                        z-index: 1;
                        position: relative;
                        display: flex; 
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 14px;
                        align-items: flex-start;
                        height: 83%;
                        top: 0.01px; 
                        width: 100%;
                        background-color: transparent; 
                        box-shadow: none; 
                        padding-top: 0px; 
                        margin-top: 0;
                        animation-name: none;
                        overflow: visible;

                        li{
                            margin-bottom: 0px;
                            width: fit-content;
                            line-height: 10px;
                            height: fit-content;
                            display: flex;
                            border-top: transparent;
                            padding-left: 5px;
                            a{
                                font-size: 0.8rem;
                            }
                        }

                    }
                    &:hover .submenu{
                        display: flex; 
                        position: static;
                        min-height: 83%;
                    }
                    
                }

            
            }
        }
    }

    .contenedorInfoHistoria {
        .historia {
            min-height: 60vh;
            .historiaText {
                padding-top: 2rem;
                h2 {
                    text-align: center;
                    margin: 0;
                }
            }
        }

        .infoDistribucion {
            min-height: 60vh;
            gap: 0.5rem;
            .infoText {
                padding-bottom: 0;
                margin-bottom: 0;
                h2 {
                    text-align: center;
                    margin: 0;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

    .contenedorUbicacion {
        grid-template-rows: 6.6fr 13fr 1.34fr;
    }
    .contenedorContacto {
        grid-template-rows: 6.6fr 13fr 1.34fr;
    }
}

@media screen and (max-width:596px) {
    footer {
        .redes {   
            a {
                img {
                    height: 3vh;
                }
                }
            }
        }
    .conteiner_card {
        .card {
            // width: 70vw;

            p {
                font-size: .8rem;
            }

        }
    }

    .nuevos_productos {
        .nuevo_card {
            // width: 75vw;

            p {
                font-size: .8rem;
            }
        }
    }

    footer {
        .parrafoFooter {
            font-size: 0.6rem;
        }
    }

    .titleContainer{
        #inputBusqueda{
            width: 90%;
        }

    }


    .productos {
        height: 110vh;

        section {
            width: 70vw;
        }
    }

    .mapa {
        #map-content{
            width: 90%;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            .mapa {
                h3 {
                    font-size: 1.1rem;
                }
        
                .direction {
                    font-size: .9rem;
                }
            }
        }
    }

    .contenedorInfoHistoria {
        .historia {
            .historiaText {
                margin-top: 1rem;
            }}}
}
@media screen and (max-width:518px) {
    footer {
        .redes {
            width: 30%;
        }
    }


    .contenedorInfoHistoria {
        .historia {
            .historiaText {
                height: auto;
                h2{
                    margin-top: 0.5rem;
                }
                p {
                    font-size: 1.1rem;
                    padding-top: 0.5rem;
                }
            }

            
        }
        .infoDistribucion {
            
            .infoText {
                height: auto;
                margin: 0;
                gap: 2rem;
                .textos {
                    
                    padding-top: 0;
                }
            }
    }
}


.historiaImg {
    height: auto;
    display: flex;
    flex-wrap: wrap;

    img {
        width: fit-content;
        height: 80%;
    }
}


    .mainProductos {
        // height: 500vh;

        .conAlcohol {
            height: 130vh;

            article {
                width: 45vw;
                height: 19vh;

                a {
                    img {
                        height: 13vh;
                    }
                }

                p {
                    font-size: .8rem;
                }
            }
        }

        .sinAlcohol {
            height: 130vh;

            article {
                width: 45vw;
                height: 19vh;

                a {
                    img {
                        height: 13vh;
                    }
                }

                p {
                    font-size: .8rem;
                }
            }
        }

        .otrosProductos {
            height: 110vh;

            article {
                width: 45vw;
                height: 19vh;

                a {
                    img {
                        height: 13vh;
                    }
                }

                p {
                    font-size: .8rem;
                }
            }
        }
    }


    .nuestroContacto {
        width: 90px;

        a {
            img {
                width: 40px;
            }
        }
    }


    .videoContainer {
        min-height: 80vh;
        
        .contactInfo{
            height: 50vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            p{
                font-size: 1.3rem;
            }
            a{
                width: 140px;
                height: 43px;
            }
            button{
                width: 140px;
                height: 43px;
                font-size: 0.8rem;
            }
        }
        .productsVideo{
            width: 95%;
        }
    }

    .titleContainer{
        h2{
            font-size: 1.2rem;
        }
    }

    .nuestrosProductos, .conAlcohol, .otrosProductos, .sinAlcohol{

        article{
            width: 300px;
            height: 350px;
        }
    }


}

@media screen and (max-width:402px) {
    footer {
        .parrafoFooter {
            width: 70%;
            font-size: .5rem;
        }
    }

    .conteiner_card {
        .card {
            width: 85vw;
        }
    }

    .nuevos_productos {
        .nuevo_card {
            width: 85vw;
        }
    }

    
    .contenedorInfoHistoria {
            .historia{
                .historiaText{
                    p {
                        margin: 0;
                        padding-left: 0;
                    }
                }
            }
            
        
        
        .infoDistribucion {
            // max-height: 75vh;
            .infoText {
                p {
                    margin: 0;
                }

                h2 {
                    margin: 0;
                    // padding-top: 0;
                }
            }
        }
    }

    .mapa iframe {
        width: 85vw;
    }

    .nuestroContacto {
        justify-content: flex-end;
    }

    .whatsapp {
        justify-content: flex-start;
    }
}